<h2>Questions</h2>
<% @questions.each do |item| %>
  <p><%= item.title %></p>

  <time datetime="<%= item.formatted_created_at %>">
    <%= item.formatted_created_at %>
  </time>

  <p><%= item.body %></p>
  <br>
  <%= link_to 'Show', question_path(item) %>
  <%= link_to 'Edit', edit_question_path(item) %>
  <%= button_to 'Destroy', item, method: :delete, class: "btn btn-warning" %>
<% end %>