<h1 class="mb-4">Show Question</h1>

<div>
    <%= @question.title %>
    <br>
    <%= @question.body %>
    <br>

    <time datetime="<%= @question.formatted_created_at %>">
        <%= @question.formatted_created_at %>
      </time>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Show', question_path(@question), class: "btn btn-primary" %>
       <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-danger" %>
       <%= button_to 'Destroy', @question, method: :delete, class: "btn btn-warning" %>
    </div>
</div>


   <hr class="my-3">
   <div>
    <h2>Write your answer</h2>
    <%= render 'answers/form' %>
   </div>
 
  <hr class="my-3">
   
  <h2>Answers</h2>
    <% @answers.each do |answer| %>
    
    <% end %>  

    <%= render @answers %>
  
