   <%= render 'shared/errors', object: @answer %>
   
   <div>

      <%= form_with model: [@question, @answer] do |f| %>
      
        <div>
          <%= f.label :body, class: "form-label", for: "body" %>
        </div>

        <div class="mb-3">
          <%= f.text_area :body, placeholder: "body", class: "form-control" %>
        </div>

        <%= f.submit "Submit Answer", class: "btn btn-primary" %>
    
      <% end %>
   </div>